@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  background-color: #b3cdd1;
  background-image: linear-gradient(315deg, #b3cdd1 0%, #9fa4c4 74%);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pw {
  min-width: 400px;
  background-color: #9fa4c4;
  background-image: linear-gradient(315deg, #9fa4c4 0%, #9e768f 74%);
  padding: 20px 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(67, 54, 54);
}

.pw__header {
  position: relative;
}

.pw__header,
.pw__body {
  padding: 20px 0;
}

.pw__out {
  background-color: #b3cdd1;
  padding: 1rem;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  cursor: pointer;
}

.pw__copy {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 80%;
  transform: translate(-50%, 100%);
  border: none;
  padding: 0.25rem 0.5rem;
  transition: opacity 0.4s ease, transform 0.4s ease;
  opacity: 0;
}

.pw__out:hover + .pw__copy,
.pw__out .pw__copy:hover {
  opacity: 1;
  transform: translate(-50%, -20%);
}

.pw_out .pw__copy:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.pw__control {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
}

.pw__generator {
  display: block;
  width: 100%;
  padding: 1rem;
  font-size: 1.5rem;
  margin-top: 20px;
  background-color: #bdd4e7;
  background-image: linear-gradient(315deg, #bdd4e7 0%, #8693ab 74%);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pw__generator:hover {
  background-color: #bdd4e7;
  background-image: linear-gradient(315deg, #8693ab 0%, #bdd4e7 74%);
}
