ul {
  padding: 0;
}

li {
  list-style: none;
}

.page {
  display: flex;
  flex-direction: column;
  min-width: 650px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  padding-left: 2em;
  padding-right: 2em;
  font-family: "Source Sans Pro",
    "Helvetica",
    sans-serif;
  color: #0b0b0b;
  font-size: 20px;
  line-height: 1.5;
  background-image: linear-gradient(to bottom, #1a3c55 150px, #0f2e3b 150px);
}

.page__header {
  display: flex;
  justify-content: flex-end;
}

.page__content--title {
  margin: 0;
  margin-top: 1.5em;
  padding: 0;
  font-size: 2em;
}

.page__avatar--images {
  margin: 2.5em;
  margin-bottom: 0;
  width: 10em;
  height: 10em;
  border-radius: 50%;
}

.navigation__list {
  display: flex;
  margin: 0;
  padding: 0;
}

.navigation__item {
  list-style: none;
  margin-right: 1rem;
}

.link,
a {
  color: #666666;
  text-decoration: none;
}

.link:active,
.link:focus,
.link:hover,
.link_active,
a:active,
a:focus,
a:hover {
  text-decoration: none;
  background-color: #0f2e3b;
  outline: 0.4em solid #0f2e3b;
  color: #666666;
}

.content {
  margin-top: -4em;
  flex-grow: 1;
}

.content__title {
  margin: 0;
  padding: 0;
  font-size: 1.5em;
  padding-left: 2em;
}

.contacts {
  display: flex;
  margin: 0;
  padding: 0;
}

.contacts__item {
  list-style: none;
  margin-right: 1rem;
}

.footer__text {
  margin: 0;
}