ul {
  padding: 0;
}

li {
  list-style: none;
}

i {
  margin: 15px 0;
  font-size: 2em;
  color: white;
  opacity: .6;
}

.page {
  background-color: darkslategray;
  min-height: 100vh;
}

.page__avatar--images {
  margin: 2.5em;
  margin-bottom: 0;
  width: 8em;
  height: 8em;
}

.about-me__text {
  font-size: 3em;
  line-height: 1;
}

.about-me__text i {
  font-size: 0.8em;
}

.about-me__text span {
  font-size: 0.3em;
}

.fa-baby {
  color: transparent;
}

.fa-school {
  font-size: 0.6em;
}

.content__list {
  margin: 0;
  padding: 0;
}

.content_items {
  width: 290px;
}

.content__text {
  width: 290px;
}

.content__img {
  display: block;
  width: 290px;
}

.contacts__item {
  margin-right: 0.8em;
}
