.tab-content * {
  -webkit-animation: scale 0.7s ease-in-out;
  -moz-animation: scale 0.7s ease-in-out;
  animation: scale 0.7s ease-in-out;
}

@keyframes scale {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }

  50% {
    transform: scale(1.01);
    opacity: 0.5;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.tabs {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tabs input[type=radio] {
  display: none;
}

.tabs label {
  margin-right: 10px;
  float: right;
  color: #ccc;
  font-size: 14px;
  font-weight: normal;
  text-decoration: none;
  text-align: center;
  line-height: 2;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  /* Safari 3.1 to 6.0 */
  transition: all 0.5s;
}

/* .tabs label span {
  display: none;
} */

.tabs label i {
  padding: 5px;
  margin-right: 0;
}

.tabs label:hover {
  color: #3498db;
}

.tab-content {
  display: none;
  width: 100%;
  float: left;
  box-sizing: border-box;
}

.tabs [id^="tab"]:checked+label {
  color: #3498db;
}

#tab1:checked~#tab-content1,
#tab2:checked~#tab-content2,
#tab3:checked~#tab-content3 {
  display: block;
}