@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    text-transform: capitalize;
    color: #2d0537;

    background-image: linear-gradient(to left top, #34e7ff, #00edec, #00f0c3, #00f086, #12eb2a);
}

::placeholder {
    font-family: Montserrat;
    text-transform: capitalize;
    color: #2d0537;
}

button {
    font-family: Montserrat;
    text-transform: capitalize;
    color: #2d0537;
}

.app {
    max-width: 1200px;
    width: 100%;
    padding: 2em 2em;
    margin: 0 2em;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.app__inner--expenses,
.app__inner--budget,
.app__output-budget,
.app__expenses-list {
    padding: 1em;
    background-color: #f7f7f7;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.app__wrapper:not(:last-child) {
    margin-bottom: 1em;
}

.app__input-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 0px;
}

.app__inner {}

.app__inner--expenses {
    grid-area: 1 / 1 / 2 / 3;

    display: flex;
    flex-direction: column;

}

.app__inner--budget {
    grid-area: 1 / 3 / 2 / 4;

    display: flex;
    flex-direction: column;
}


.app__title {
    font-weight: 500;
    margin-bottom: 0.6em;
}

.app__error {
    font-size: 10px;
    font-weight: 700;
    text-transform: capitalize;
    color: #ec2d47;
}

.hidden {
    opacity: 0;
    visibility: hidden;
}

.expenses-name-error {}

.app__input {
    padding: 0.6em 0.3em;
    border: 1px solid #79848c;
    border-radius: 3px;
    margin-bottom: 0.6em;
    outline: none;
    font-weight: 400;
}

.app__input:focus {
    border-color: #000;
}

.app__input-name-product {}

.app__input-cost-product {}

.app__button {
    padding: 0.6em 0.3em;
    border: 1px solid #79848c;
    border-radius: 3px;
    cursor: pointer;
    font-weight: 600;
}

.app__button:hover {
    background-color: #b4c0f6;
}

.app__button-product {}

.budget-error {}

.app__input-budget {}

.app__button-amount {}

.app__output-budget {
    display: flex;
    justify-content: space-between;

    background-color: #b4c0f6;
}

.app__box span {
    display: block;
    text-align: center;
    font-weight: 600;
}

.app__amount-total-out {}

.app__expenses-out {}

.app__amount-balance-out {}

.app__expenses-list {}

.app__expenses-list-out {}

.product__item {
    display: flex;
    justify-content: space-between;
}

.product__item:not(:last-child) {
    margin-bottom: 5px;
}

.product__item span {
    cursor: pointer;
}

.product__name,
.product__cost {
    width: 45%;
}