body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  text-transform: uppercase;
  text-align: left;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.body-shadow {
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
  width: 1200px;
  background-color: #ffffff;
  margin: 0 auto;
}

.main-navigation {
  position: relative;
}

.main-header-logo {
  position: absolute;
  left: 50%;
  width: 138px;
  height: 70px;
  margin-left: -69px;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 1200px;
  list-style: none;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.site-navigation .current {
  color: #766357;
  text-align: center;
  vertical-align: middle;
  margin: 16px 72px;
}

.site-navigation a {
  display: block;
  color: #000000;
  text-align: center;
  vertical-align: middle;
  margin: 16px 72px;
}

.site-navigation li:nth-child(2) {
  margin-right: 245px;
  margin-left: 2px;
}

.site-navigation li:nth-child(3) {
  margin-right: 18px;
  margin-left: 2px;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.intro img {
  margin-bottom: 50px;
}

.features-intro-text {
  width: 500px;
  margin: 0 auto;
  margin-bottom: 49px;
}

.features-intro-text h2 {
  margin-top: 0;
  margin-bottom: 27px;
}

.features {
  text-align: center;
}

.features h2 {
  font-size: 21px;
  font-weight: bold;
  color: #000000;
}

.features h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: #000000;
}

.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0;
  padding: 0;
  margin-bottom: 68px;
}

.features-list h3 {
  margin-top: 102px;
}

.feature-item {
  list-style: none;
  font-size: 14px;
  line-height: 21px;
  width: 290px;
  margin: 0;
  padding: 0;
}

.feature-item-blue-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
  background-color: #81b3d2;
  margin: 0;
  padding: 0;
  margin-bottom: 60px;
}

.feature-item-blue-left div {
  width: 290px;
  padding: 40px;
  min-height: 160px;
  margin: auto;
}

.feature-item-blue-left h3 {
  width: 130px;
  color: #ffffff;
  margin: auto;
  margin-bottom: 6px;
}

.feature-item-blue-left p {
  width: 290px;
  color: #ffffff;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  padding-top: 19px;
}

.home {
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 50% 0;
}

.eat {
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 50% 0;
}

.souvenirs {
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 50% 0;
}

.feature-item-blue-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
  background-color: #81b3d2;
  margin: 0;
  padding: 0;
}

.feature-item-blue-right div {
  width:305px;
  min-height: 163px;
  padding: 40px;
  margin: auto;
}

.feature-item-blue-right h3 {
  width: 160px;
  color: #ffffff;
  margin: 0;
  padding: 0;
  margin: auto;
}

.feature-item-blue-right p {
  width: 305px;
  color: #ffffff;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  padding-top: 22px;
}

.feature-item-blue-right p:nth-child(3) {
  width: 305px;
  color: #ffffff;
  margin: 0;
  padding: 0;
  padding-top: 22px;
}

.features-list-grey {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0;
  padding: 0;
  padding-top: 50px;
  padding-bottom: 37px;
  background-color: #eeeeee;
}

.features-list-grey h3 {
  width: 120px;
  margin: 0;
  padding: 0;
  margin: auto;
  margin-bottom: 23px;
}

.features-list-grey p {
  width: 265px;
  margin: 0;
  padding: 0;
  margin: auto;
  margin-bottom: 20px;
}

.search-hotel {
  position: relative;
  text-align: center;
}

.search-hotel h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  color: #000000;
  margin-top: 55px;
}

.search-hotel p {
  margin: 0;
  padding: 0;
  margin-bottom: 46px;
  font-size: 14px;
  line-height: 24px;
}

.btn-search-hotel {
  height: 85px;
  width: 570px;
  margin: 0;
  padding: 0;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  background-color: #766357;
  border: none;
}

.btn-search-hotel:hover,
.btn-search-hotel:focus {
  background-color: #604e43;
}

.btn-search-hotel:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.btn-search-hotel-find {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  background-color: #81b3d2;
  border: none;
  height: 58px;
  width: 461px;
  margin-left: 55px;
}

.btn-search-hotel-find:hover,
.btn-search-hotel-find:focus {
  background-color: #669ec0;
}

.btn-search-hotel-find:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

@-webkit-keyframes open-form {
  0% {
    -webkit-transform: translate(0,0);
            transform: translate(0,0);
  }

  50% {
    -webkit-transform: translate(0,150px);
            transform: translate(0,150px);
  }
}

@keyframes open-form {
  0% {
    -webkit-transform: translate(0,0);
            transform: translate(0,0);
  }

  50% {
    -webkit-transform: translate(0,150px);
            transform: translate(0,150px);
  }
}

.modal-search-hotel {
  position: absolute;
  z-index: 2;
  margin: 0;
  padding: 0;
  width: 570px;
  height: 395px;
  background-color: #ffffff;
  left: 50%;
  margin-left: -285px;
}

.js .modal-search-hotel {
  display: none;
}

.js .modal-search-hotel-open {
  display: block;
  -webkit-animation: open-form 0.6s;
          animation: open-form 0.6s;
}

.search-hotel-form {
  width: 570px;
  height: 395px;
  padding-top: 43px;
  -webkit-box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.search-hotel-form-div {
  margin: 0;
  padding: 0;
  width: 457px;
  margin: 0 auto;
}

.search-hotel-form-div p {
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
  margin-top: 10px;
  font-size: 14px;
  line-height: 26px;
}

.search-hotel-form-item {
  position: relative;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 460px;
}

.search-hotel-form-item label {
  margin-right: auto;
}

.search-hotel-form-item input {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 350px;
  padding-top: 6px;
  padding-left: 15px;
  padding-bottom: 6px;
  padding-right: 38px;
  min-height: 38px;
  font: inherit;
  text-transform: uppercase;
  border: 2px solid white;
  background-color: #f2f2f2;
  color: #000000;
}

.search-hotel-form-item input:hover {
  background-color: #ebebeb;
}

.search-hotel-form-item input:focus {
  border: 2px solid #e5e5e5;
  background-color: #ffffff;
}

.calendar {
  position: absolute;
  top: 9px;
  right: 11px;
  display: inline-block;
  vertical-align: middle;
  border: 0;
  width: 22px;
  height: 22px;
  background: url("../img/calendar.svg") no-repeat 50% 50%;
  background-size: 22px 22px;
}

.calendar:hover {
  width: 22px;
  height: 22px;
  background: url("../img/calendar-hover.svg") no-repeat 50% 50%;
  background-size: 22px 22px;
}

.calendar:active {
  width: 22px;
  height: 22px;
  background: url("../img/calendar-active.svg") no-repeat 50% 50%;
  background-size: 22px 22px;
}

.search-hotel-form-people {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 53px;
}

.search-hotel-form-people label {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.search-hotel-form-people p {
  margin: 0;
  padding: 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-hotel-form-people p:first-child {
  margin-left: 56px;
}

.search-hotel-form-people p:nth-child(2) {
  margin-left: 41px;
}

.search-hotel-form-people p:nth-child(3) {
  margin-left: 53px;
}

.search-hotel-form-people p:last-child {
  margin-left: 27px;
}

.search-hotel-form-people input {
  margin: 0;
  padding: 0;
  width: 38px;
  height: 38px;
  border: none;
  font-weight: bold;
  background-color: #f2f2f2;
  color: #000000;
  text-align: center;
}

.search-hotel-form-people button {
  margin: 0;
  padding: 0;
  width: 38px;
  height: 38px;
  border: none;
  font-size: 24px;
  font-weight: bold;
  background-color: #f2f2f2;
  color: #a9a9a9;
}

.search-hotel-form-people button:hover,
.search-hotel-form-people button:focus  {
  color: #000000;
}

.search-hotel-form-people button:active {
  color: #81b3d2;
}

.map {
  width: 1200px;
  height: 593px;
}

.map img {
  position: relative;
  z-index: 0;
}

.map iframe {
  position: absolute;
  z-index: 1;
}

.filter {
  color: #ffffff;
  margin: 0;
  padding: 0;
  margin-top: -2px;
  margin-bottom: 11px;
  background-color: #4178a1;
  background-image: url("../img/filter-layer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.filter-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1056px;
  margin-left: 71px;
  padding-bottom: 23px;
}

.filter fieldset {
  margin-top: 30px;
  padding: 0;
  border: none;
}

.filter legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
}

.filter ul {
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter-option {
  margin-top: 20px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.filter-input-checkbox + label {
  position: relative;
  padding-left: 40px;
  cursor: pointer;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
}

.filter-input-checkbox:checked + label::before {
  width: 27px;
  background-image: url("../img/checkbox-on.svg");
}

.filter-input-checkbox:disabled + label {
  color: #6a6a6a;
}

.filter-input-checkbox:disabled + label::before {
  background-image: url("../img/checkbox-off-disabled.svg");
}

.filter-input-checkbox:checked:disabled + label::before {
  width: 27px;
  background-image: url("../img/checkbox-on-disabled.svg");
}

.filter-input-checkbox:focus + label::before {
  outline: 2px solid #6a6a6a;
  outline-offset: 2px;
}

.range {
  width: 315px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-bottom: 9px;
  font-size: 16px;
  line-height: 21px;
}

.range legend {
  font-weight: 700;
}

.price-controls {
  position: relative;
  height: 36px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
  margin-top: 5px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 38px;
  cursor: pointer;
}

.price-controls .min-cost,
.price-controls .max-cost {
  width: 90px;
  padding-left: 61px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 30px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.filter-button {
  display: block;
  margin: 0 auto;
  padding: 6px 33px;
  margin-left: 84px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.filter-button:hover {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
  background: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.sort-wrapper {
  border-bottom: 1px solid #e5e5e5;
  margin: 0;
  padding: 0;
}

.sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  width: 1056px;
  margin-left: 72px;
  margin-bottom: 8px;
}

.sort-result {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.sort-title {
  font-size: 12px;
  line-height: 18px;
  margin-left: 50px;
}

.sort-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 280px;
  list-style: none;
  font-size: 12px;
  line-height: 18px;
  margin: 0;
  padding: 0;
  margin-left: 39px;
}

.sort-ul a {
  display: block;
  margin-right: 30px;
  vertical-align: middle;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
}

.sort-ul a:hover,
.sort-ul a:focus {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
}

.sort-ul a:active {
  color: #000000;
  border: none;
}

.sort-current a {
  display: block;
  margin-right: 30px;
  color: #81b3d2;
  border: none;
}

.sort-navigation-up-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  width: 20px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: 15px;
}

.sort-navigation-up-down li {
  margin-right: 10px;
}

.sort-navigation-up-down svg:hover {
  fill: #231f20;
}

.sort-navigation-up-down svg:active,
.sort-navigation-up-down svg:focus {
  fill: #81b3d2;
}

.sort-dir-current svg {
  fill: #81b3d2;
}

.sort-dir li {
  margin: 0;
  padding: 0;
  width: 11px;
  height: 10px;
  border: none;
}

.search-hotel-item {
  padding: 0;
  margin: 0;
  width: 1200px;
  border-bottom: 1px solid #e5e5e5;
}

.search-hotel-item-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
  width: 1056px;
  margin: 26px 0 29px 72px;
}

.search-hotel-item-image {
  line-height: 0;
}

.search-hotel-item-more {
  padding: 0;
  margin: 0;
  margin-left: 30px;
  width: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.search-hotel-list h3 {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
}

.search-hotel-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.search-hotel-list h3:hover,
.search-hotel-list h3:focus {
  color: #81b3d2;
}

.search-hotel-list h3:active {
  color: rgba(0, 0, 0, 0.3);
}

.search-hotel-cart {
  color: #333333;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

.search-hotel-cart p {
  color: #000000;
  padding: 0;
  margin: 0;
}

.search-hotel-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-hotel-cart-left {
  margin-right: 5px;
}

.search-hotel-rating {
  display: inline-block;
  vertical-align: middle;
  background-color: #f2f2f2;
  color: #666666;
  text-align: center;
  width: 110px;
  height: 27px;
  padding: 0;
  margin: 0;
}

.search-hotel-stars-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0;
  margin: 0;
}

.button-more {
  display: inline-block;
  vertical-align: middle;
  background-color: #81b3d2;
  color: #ffffff;
  text-align: center;
  width: 110px;
  height: 28px;
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
}

.button-more:hover,
.button-more:focus {
  background-color: #669ec0;
  color: #ffffff;
}

.button-more:active {
  background-color: #5496bd;
  color: rgba(0, 0, 0, 0.3);
}

.button-book-it {
  display: inline-block;
  vertical-align: middle;
  background-color: #766357;
  color: #ffffff;
  text-align: center;
  width: 142px;
  height: 27px;
  padding: 0;
  margin: 0;
  font-weight: bold;
}

.button-book-it:hover,
.button-book-it:focus {
  background-color: #604e43;
}

.button-book-it:active {
  background-color: #503e33;
  color: rgba(0, 0, 0, 0.3);
}

.search-hotel-item-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin: 0;
  width: 110px;
  height: 92px;
  margin-left: auto;
}

.search-hotel-star-ul {
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  margin: 0;
}

li.search-hotel-star {
  display: inline-block;
  vertical-align: middle;
  width: 17px;
  height: 17px;
  padding: 0;
  margin: 0;
  margin-left: 5px;
  padding-right: 2px;
  color: #81b3d2;
  background-image: url("../img/star.svg");
  background-repeat: no-repeat;
  background-size: auto;
}

.main-footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  height: 120px;
  padding: 0;
  margin: 0;
  margin-top: -120px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: middle;
  background: rgba(255, 255, 255, 0.9);
  color: #000000;
  z-index: 1;
}

.inner-page .main-footer {
  margin-top: 0px;
}

.footer-hashtag {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  width: 240px;
  margin: 0;
  padding: 0;
  margin: auto;
}

.footer-social ul {
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-social li:last-child {
  margin-right: -5px;
}

.social-button {
  display: inline-block;
  vertical-align: middle;
  width: 46px;
  height: 46px;
  background-color: #81b3d2;
  margin-right: 5px;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button.twitter {
  background-image: url("../img/twitter.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social-button.facebook {
  background-image: url("../img/fb-icon.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social-button.youtube {
  background-image: url("../img/youtube.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 240px;
  margin: 0;
  padding: 0;
  margin: auto;
  font-size: 14px;
  line-height: 26px;
}

.footer-logo {
  display: inline-block;
  vertical-align: middle;
  width: 116px;
  height: 37px;
  margin-left: 10px;
}

.footer-logo svg:hover {
  fill: #81b3d2;
}

.footer-logo svg:active {
  fill: rgba(0, 0, 0, 0.3);
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .site-navigation .current {
    margin: 16px 71px;
  }

  .site-navigation a {
    margin: 16px 71px;
  }
}

@supports (-ms-ime-align: auto) {
  .site-navigation .current {
    margin: 16px 71px;
  }

  .site-navigation a {
    margin: 16px 71px;
  }
}
