body {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  background-color: #0067a0;
}

.header {
  height: 100vh;
  background: url('../image/background.jpg') no-repeat;
  background-size: cover;
  position: relative;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(58, 165, 236, 0.2);
}

.header__wrapper {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.header__title {
  font-weight: bold;
  font-size: 48px;
  min-height: 120px;
  margin-bottom: 30px;
}

.header__text {
  margin-bottom: 30px;
}

.form__wrapper {
  background: #ffffff;
  border-radius: 5px;
  color: #222222;
  padding: 40px 30px;
  margin-bottom: 40px;
}

label {
  font-weight: bold;
}

.form-control {
  padding: 10px 20px;
  margin-bottom: 15px;
  border: none;
  background-color: #ebecee;
}

.form-control:active {
  background-color: #e9f0ff;
}

.button {
  background-color: #5c5bf0;
  font-weight: bold;
  color: #ffffff;
  margin-top: 30px;
  padding: 15px 30px;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #3030f0;
}

@media only screen and (max-width : 880px) {

  .header__wrapper {
    top: 10%;
    transform: translateY(0);
  }

  .header__title {
    font-size: 34px;
    min-height: 125px;
  }

}