@import url('https://fonts.googleapis.com/css2?family=Alexandria&display=swap');
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  font-family: 'Alexandria', sans-serif;
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* MY IDs */

/* MY CLASSes */
.convector {
  padding: 1em;
}
.convector__title {
  font-size: 2em;
  margin-bottom: 0.5em;
}
.convector__app {
  display: flex;
  align-items: center;
}
.convector__flag-images {
  border-left: 1px solid grey;
  border-right: 1px solid grey;
}
.convector__link {
  color: darkgrey;
  font-size: 0.6em;
  transition: all 0.3s ease 0s;
}
.convector__link:hover {
  color: black;
}
.app__inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid grey;
  max-width: 340px;
  width: 100%;
}
.app__inner span {
  position: relative;
  width: 70px;
  padding: 0.5em 1.5em 0.5em 0.5em;
  cursor: pointer;
}
.app__inner span::after {
  width: 14px;
  height: 10px;
  background: #fff
    url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTEiIGhlaWdodD0iNiIgdmlld0JveD0iMCAwIDExIDYiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik01LjQ5OTk4IDQuNzkyODdMMS4zNTM1MyAwLjY0NjQyM0wwLjY0NjQyMyAxLjM1MzUzTDUuMTQ2NDIgNS44NTM1M0M1LjM0MTY5IDYuMDQ4NzkgNS42NTgyNyA2LjA0ODc5IDUuODUzNTMgNS44NTM1M0wxMC4zNTM1IDEuMzUzNTNMOS42NDY0MiAwLjY0NjQyM0w1LjQ5OTk4IDQuNzkyODdaIiBmaWxsPSIjRkY3NDI0Ii8+PC9zdmc+Cg==')
    no-repeat center / cover;
  position: absolute;
  right: 5px;
  bottom: 50%;
  transform: translateY(50%);
  content: '';
  display: block;
  transition: 0.2s ease-in;
}
.app__inner span.open::after {
  transform: translateY(50%) rotate(180deg);
}
.app__inner input {
  width: 100%;
  padding: 0.4em 0.8em;
}
.app__inner input:active,
.app__inner input:focus {
  outline: none;
}
.icon {
  width: 2em;
  height: 2em;
  cursor: pointer;
  margin: 0 0.3em;
}
.icon:hover {
  filter: brightness(75%);
}
.convector__list {
  display: none;
  position: absolute;
  top: 105%;
  /* left: 0; */
  right: 0;
  background: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin-top: 5px;
  width: 160px;
  max-height: 205px;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 100;
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #424348;
  scrollbar-color: dark;
  scrollbar-width: thin;
  overscroll-behavior: contain;
  transition: opacity 1s ease 0s;
}
.convector__list::-webkit-scrollbar {
  width: 7px;
  background-color: #f8f9fa;
  padding: 5px;
}
.convector__list::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #d9d9d9;
}
.convector__list .convector__item {
  position: relative;
  border-top: 1px solid rgba(224, 229, 231, 0.5);
  padding: 4px 8px;
  cursor: pointer;
}
.convector__list .convector__item:hover {
  background-color: rgba(224, 229, 231, 0.5);
}
.convector__item {
  font-size: 0.8em;
}
.convector__item img {
  width: 1.5em;
  margin-right: 5px;
}
