html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details {
  display: block;
}
summary {
  display: list-item;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
@font-face {
  font-weight: 700;
  font-family: "BodoniBold";
  src: url("/fonts/BodoniBold.woff2") format("woff2"), url("/fonts/BodoniBold.woff") format("woff");
}
@font-face {
  font-weight: 700;
  font-family: "KontanterBold";
  src: url("/fonts/KontanterBold.woff2") format("woff2"), url("/fonts/KontanterBold.woff") format("woff");
}
@font-face {
  font-weight: 300;
  font-family: "RobotoLight";
  src: url("/fonts/RobotoLight.woff2") format("woff2"), url("/fonts/RobotoLight.woff") format("woff");
}
body {
  margin: 0 auto;
  padding: 0;
  font-family: 'RobotoLight', sans-serif;
  background-color: #f9f9f9;
  color: #9fa3ad;
  text-align: left;
  width: 100%;
}
a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  height: auto;
}
fieldset {
  margin: 0;
  padding: 0;
  border: none;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}
.button {
  border: none;
  background-color: #ff8023;
  font-size: 16px;
  font-family: 'RobotoLight', sans-serif;
  line-height: 60px;
}
.page-header {
  margin-bottom: 80px;
  height: 883px;
  color: #ffffff;
  background-image: linear-gradient(to right, #121a2d 720px, transparent 720px);
}
.page-header__wrapper-top {
  margin: 0 auto;
  height: 92px;
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: linear-gradient(to right, #121a2d 600px, transparent 600px);
}
.page-header__logo {
  margin-left: -20px;
  font-family: 'KontanterBold', sans-serif;
  font-size: 40px;
  line-height: 40px;
  padding-left: 70px;
}
.page-header__logo-blue {
  color: #121a2d;
}
.page-header__logo.page-header__logo--margin-menu {
  margin-left: -372.383px;
}
.page-header__phone {
  font-family: 'RobotoLight', sans-serif;
  font-size: 16px;
  line-height: 60px;
  color: #121a2d;
}
.page-header__wrapper-content {
  margin: 0 auto;
  width: 1200px;
  height: 699px;
  background-repeat: no-repeat;
  background-image: url("/img/bg-wrapper-content@1x.jpg");
}
.page-header__title {
  margin: 0;
  padding: 0;
  padding-top: 171px;
  margin-bottom: 20px;
  margin-left: 100px;
  width: 400px;
  font-family: 'BodoniBold', sans-serif;
  font-size: 90px;
  line-height: 88px;
  letter-spacing: 1px;
}
.page-header__text {
  margin: 0;
  margin-bottom: 50px;
  margin-left: 100px;
  width: 310px;
  font-family: 'RobotoLight', sans-serif;
  font-size: 14px;
  line-height: 20px;
}
.page-header__button {
  margin-left: 100px;
  width: 287px;
  height: 60px;
}
.page-header__button-text {
  margin: 0;
  margin-left: 50px;
  position: relative;
  text-transform: lowercase;
}
.page-header__button-text::after {
  position: absolute;
  top: calc(47.5%);
  right: 50px;
  content: ' ';
  width: 61px;
  height: 5px;
  background-image: url('/img/svg-arrow-right.svg');
  background-position: 50% 50%;
}
.page-header__social {
  margin: 0 auto;
  width: 1200px;
  background-image: linear-gradient(to right, #121a2d 600px, transparent 600px);
}
.page-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.page-nav__open {
  -webkit-animation: open-nav 0.6s;
          animation: open-nav 0.6s;
}
.page-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.page-nav__list.page-nav--closed {
  display: none;
}
.page-nav__item {
  margin-right: 20px;
}
@-webkit-keyframes open-nav {
  0% {
    -webkit-transform: translate(-50px, 0);
            transform: translate(-50px, 0);
  }
  50% {
    -webkit-transform: translate(50px, 0);
            transform: translate(50px, 0);
  }
}
@keyframes open-nav {
  0% {
    -webkit-transform: translate(-50px, 0);
            transform: translate(-50px, 0);
  }
  50% {
    -webkit-transform: translate(50px, 0);
            transform: translate(50px, 0);
  }
}
.hamburger {
  padding: 20px 0;
  width: 40px;
  height: 40px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  font: inherit;
  color: white;
  text-transform: none;
  background-color: transparent;
  border: 10px;
  margin: 0;
  margin-right: 20px;
  overflow: hidden;
}
.hamburger.hamburger--closed {
  display: none;
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger.is-active:hover {
  opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: white;
}
.hamburger-box {
  width: 40px;
  height: 8px;
  display: inline-block;
  position: relative;
}
.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: white;
  border-radius: 4px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}
.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}
.hamburger--elastic .hamburger-inner {
  top: 2px;
  -webkit-transition-duration: 0.275s;
          transition-duration: 0.275s;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
          transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.hamburger--elastic .hamburger-inner::before {
  top: 10px;
  -webkit-transition: opacity 0.125s 0.275s ease;
  transition: opacity 0.125s 0.275s ease;
}
.hamburger--elastic .hamburger-inner::after {
  top: 20px;
  -webkit-transition: -webkit-transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: -webkit-transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.hamburger--elastic.is-active .hamburger-inner {
  -webkit-transform: translate3d(0, 10px, 0) rotate(135deg);
          transform: translate3d(0, 10px, 0) rotate(135deg);
  -webkit-transition-delay: 0.075s;
          transition-delay: 0.075s;
}
.hamburger--elastic.is-active .hamburger-inner::before {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  opacity: 0;
}
.hamburger--elastic.is-active .hamburger-inner::after {
  -webkit-transform: translate3d(0, -20px, 0) rotate(-270deg);
          transform: translate3d(0, -20px, 0) rotate(-270deg);
  -webkit-transition-delay: 0.075s;
          transition-delay: 0.075s;
}
.social__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 92px;
}
.social__item {
  margin-right: 40px;
  font-family: 'RobotoLight', sans-serif;
  font-size: 16px;
  line-height: 60px;
}
.social__item a {
  color: #ffffff;
}
.services {
  margin: 0 auto;
  margin-bottom: 180px;
  width: 1200px;
}
.services__title {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  color: #121a2d;
  font-family: 'BodoniBold', sans-serif;
  font-size: 52px;
  line-height: 88px;
  letter-spacing: 1px;
}
.services__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.services__list {
  width: 285px;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'RobotoLight', sans-serif;
  font-size: 20px;
  line-height: 24px;
}
.services__item {
  display: inline-block;
  cursor: pointer;
}
.services__item.active {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #121a2d;
  margin-left: 65px;
}
.services__content {
  display: none;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  width: 844px;
}
.services__content.active {
  display: block;
}
.services__content-img {
  margin-bottom: 16px;
}
.services__content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.services__content-title {
  width: 500px;
  margin-bottom: 60px;
  color: #121a2d;
  font-family: 'BodoniBold', sans-serif;
  font-size: 34px;
  line-height: 32px;
  letter-spacing: 1px;
}
.services__content-text {
  width: 500px;
  color: #556079;
  font-family: 'RobotoLight', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}
.services__content-wrapper-right {
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.services__content-number-projects {
  margin-top: 33px;
  margin-bottom: 80px;
  text-align: right;
  color: #121a2d;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 20px;
}
.services__content-order {
  text-align: center;
  color: #ffffff;
}
.advantage {
  margin: 0 auto;
  margin-bottom: 140px;
  width: 1200px;
}
.advantage__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 480px;
}
.advantage__item {
  width: 285px;
}
.advantage__item:nth-child(2n) {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.advantage__number {
  margin: 0;
  margin-bottom: -5px;
  padding: 0;
  color: #121a2d;
  font-family: 'BodoniBold', sans-serif;
  font-size: 60px;
  line-height: 88px;
  letter-spacing: 1px;
}
.advantage__title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  color: #121a2d;
  font-family: 'RobotoLight', sans-serif;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 1px;
}
.advantage__text {
  color: #9a9ea9;
  font-family: 'RobotoLight', sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1px;
}
.portfolio {
  margin: 0 auto;
  margin-bottom: 110px;
  width: 1200px;
}
.portfolio__title {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  color: #121a2d;
  font-family: 'BodoniBold', sans-serif;
  font-size: 52px;
  line-height: 88px;
  letter-spacing: 1px;
}
.portfolio__list {
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 17px;
  line-height: 24px;
}
.portfolio__items {
  margin-right: 110px;
}
.portfolio__active {
  color: #121a2d;
  border-bottom: 1px solid #121a2d;
}
.portfolio__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 540px;
  color: #ffffff;
}
.portfolio__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.portfolio__content-title {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  position: absolute;
  left: -40px;
  bottom: 70px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.portfolio__content-text {
  margin: 25px;
  font-size: 16px;
  line-height: 24px;
}
.panel1 {
  background-image: url('/img/panel1.jpg');
}
.panel2 {
  background-image: url('/img/panel2.jpg');
}
.panel3 {
  background-image: url('/img/panel3.jpg');
}
.panel4 {
  background-image: url('/img/panel4.jpg');
}
.connection {
  margin-bottom: 80px;
  background-color: #121a2d;
  background-image: url('/img/bg-wrapper-connection@1x.jpg');
  background-position-x: right;
  background-repeat: no-repeat;
}
.connection__wrapper {
  margin: 0 auto;
  width: 1200px;
  height: 725px;
  color: #ffffff;
}
.connection__title {
  margin: 0;
  padding: 0;
  padding-top: 86px;
  width: 400px;
  font-size: 52px;
  line-height: 46px;
  font-family: 'BodoniBold', sans-serif;
  letter-spacing: 1px;
}
.connection__text {
  margin-bottom: 40px;
  width: 360px;
}
.form {
  margin: 0;
  padding: 0;
}
.form__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.form__button {
  width: 510px;
  color: #ffffff;
}
.form__consent {
  width: 400px;
  font-size: 13px;
  line-height: 24px;
}
.form__item input {
  margin-bottom: 50px;
  padding: 10px 0;
  width: 510px;
  color: #ffffff;
  font-style: italic;
  font-size: 16px;
  line-height: 24px;
  border: none;
  border-bottom: 1px solid #ffffff;
  background-color: #121a2d;
}
.form__item textarea {
  margin-bottom: 20px;
  padding: 10px 0;
  width: 510px;
  color: #ffffff;
  font-style: italic;
  font-size: 16px;
  line-height: 24px;
  border: none;
  border-bottom: 1px solid #ffffff;
  background-color: #121a2d;
}
.reviews__title {
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 60px;
  padding: 0;
  color: #121a2d;
  font-family: 'BodoniBold', sans-serif;
  font-size: 60px;
  line-height: 88px;
  letter-spacing: 1px;
}
.reviews__wrapper {
  margin: 0 auto;
  width: 1440px;
}
.reviews__wrapper-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}
.reviews__wrapper-list {
  margin: 0 auto;
  padding: 0;
  width: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}
.reviews__wrapper-item {
  margin-bottom: 80px;
  width: 60px;
  height: 4px;
  background-color: #9a9ea9;
}
.reviews__wrapper-item.active {
  background-color: #121a2d;
}
.reviews__wrapper-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.reviews__wrapper-img--active {
  background-color: #ffffff;
  width: 730px;
  padding: 35px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.reviews__photo {
  position: relative;
  width: 250px;
  height: 200px;
}
.reviews__photo-filter::before {
  content: '';
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(154, 158, 169, 0.6);
}
.reviews__content-active {
  width: 790px;
}
.reviews__name {
  margin-left: 20px;
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 24px;
  color: #121a2d;
}
.reviews__text {
  width: 430px;
  margin-left: 20px;
  font-size: 14px;
  line-height: 20px;
}
.none {
  display: none;
}
.page-footer {
  background-color: #121a2d;
  color: #ffffff;
  height: 200px;
}
.page-footer__wrapper {
  margin: 0 auto;
  width: 1200px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.page-footer__logo {
  font-family: 'KontanterBold', sans-serif;
  font-size: 38px;
  line-height: 40px;
  margin-left: -55px;
}
.page-footer__logo-white {
  margin: 0;
  padding: 0;
}
